body {
    margin: 0px;
    background-image: url("./Images/243.jpg");
    background-size: cover;
    height: 100vh;
    background-position: center;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.letters-color {
    color: #1F3A5A;
}

.work-sans {
    font-family: "Work Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}

.general {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.description {
    color: white;
    animation: description 5s ease-in-out 1;
    animation-fill-mode: forwards;
}

@keyframes description {
    0% {
        opacity: 0%;
    }

    33% {
        opacity: 0%;
    }

    100% {
        opacity: 100%;
    }
}

.description p {
    width: 50%;
    margin: auto;
}

.description button {
    background: #1F3A5A;
    border: solid 2px rgb(0, 0, 0);
    padding: 1em;
    border-radius: 15px;
    margin-top: 15px;
    color: white;
    font-size: 16px;
    transition: all 0.3s ease;
    cursor: pointer;
}

.description button:hover {
    box-shadow: -2px 2px 50px 1px white;
    background: #2a4f7c;
}

.animacion {
    display: flex;
    flex-direction: column;
    align-items: center;
    animation: desplazamiento 3s ease-in-out 1;
    animation-fill-mode: forwards;
}

@keyframes desplazamiento {
    0% {
        transform: translateY(0px);
    }

    33% {
        transform: translateY(0px);
    }

    100% {
        transform: translateY(-110px);
    }

}

img {
    width: 200px;
    border-radius: 50%;
    border: 2px solid white;
}

h2 {
    color: white;
    animation: parpadeo 4s infinite ease-in-out;
}

@keyframes parpadeo {
    0% {
        opacity: 0%;
    }

    50% {
        opacity: 100%;
    }

    100% {
        opacity: 0%;
    }
}
