body {
justify-items: center;
    display: flex;
    flex-direction: row;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    justify-content: center;
}

html{
    scroll-behavior: smooth;
}

.bg-container {
    position: fixed;
    width: 100%;
    height: 100%;
    /* Degradado radial para simular el brillo central */
    background: radial-gradient(circle at center, #0b132e 0%, #000 70%);
    z-index: -1;
}

.grid-overlay {
    position: absolute;
    /* Importante: lo pegamos al fondo */
    bottom: 0;
    left: 0;
    width: 100%;
    /* Le damos mucha altura para que al inclinarse rellene el espacio */
    height: 100vh;

    /* Líneas más brillantes para asegurar visibilidad */
    background-image:
        linear-gradient(rgba(0, 255, 255, 0.4) 1px, transparent 1px),
        linear-gradient(90deg, rgba(0, 255, 255, 0.4) 1px, transparent 1px);
    background-size: 60px 60px;

    /* PERSPECTIVA Y ROTACIÓN */
    /* El scale(1.5) es vital: hace que la rejilla crezca y rellene los bordes */
    transform: perspective(50px) rotateX(5deg) scale(2.4);

    /* Esto hace que la rotación sea desde la base de la pantalla */
    transform-origin: center bottom;

    /* Máscara para desvanecer el horizonte */
    -webkit-mask-image: linear-gradient(to top, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0) 60%);
    mask-image: linear-gradient(to top, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0) 60%);

    z-index: -1;
}

canvas {
    display: block;
}

.work-sans {
    font-family: "Work Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}

.general {
    width: 100%;
    flex-direction: column;
    display: flex;
}

nav {
    width: 100%;
    position: fixed;
    display: flex;
    z-index: 10;
}

.sm-nav{
    position: absolute;
    left: 1%;
}

.container-nav {
    display: flex;
    flex-direction: row;
    width: 100%;
    color: white;
    gap: 20px;
    justify-content:end;
    background: radial-gradient(#000, #0B132D);
    border-bottom: 3px solid #130858;
    transition: transform 0.5s ease;
}

.nav-group{
    display: flex;
    gap: 15px;
    margin-right: 20px;
}

.container-nav div a{
    text-decoration: none;
    color: rgba(255, 255, 255, 0.423);
}

.nav-hidden {
    transform: translateY(-100%);
}

.gradient {
    /* Creamos el degradado */
    background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);

    /* Recortamos el fondo para que solo brille a través del texto (el ícono) */
    -webkit-background-clip: text;
    background-clip: text;

    /* Hacemos que el color original del ícono sea transparente */
    -webkit-text-fill-color: transparent;

    /* Importante para que el fondo se renderice correctamente */
    display: inline-block;

}

h1 {
    color: white;
}

header p {
    color: white;
}

#letters-color {
    color: #1F3A5A;
}

#update-text {
    font-size: 14px;
    margin: 15px;
    color: #7D818A;
}

#headerid {
    display: flex;
    justify-content: center;
    border: solid #7D818A;
    width: 50%;
    align-items: center;
    height: 400px;
    text-align: center;
    border-radius: 20px;
    margin-top: 100px;
    margin-bottom: 25px;
    position: relative;
    flex-direction: column;
    background-color: transparent;
    backdrop-filter: blur(3px);
}

#smstore {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
    /* Importante para que no se deforme */
    z-index: 3;
    position: relative;
}



.border-color-img {
    width: 150px;
    /* Igual al alto para que sea un círculo perfecto */
    height: 150px;
    border-radius: 50%;
    position: relative;
}

@property --angle {
    syntax: "<angle>";
    initial-value: 0deg;
    inherits: false;
}

.border-color-img::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    background-image: conic-gradient(from var(--angle), transparent 0%, #ffffff);
    padding: 77px;
    border-radius: 50%;
    z-index: 2;
    animation: 3s border-sm linear infinite;
    filter: blur(2px);
}

@keyframes border-sm {
    from {
        --angle: 0deg;
    }

    to {
        --angle: 360deg;
    }
}

.indice {
    width: 100%;
    text-align: center;
    display: block;
}

.card-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#search {
    background-color: #09111c;
    width: 50%;
    height: 60px;
    border-radius: 25px;
    border: solid #7D818A;
    margin-left: 25%;
}

div p {
    color: white;
    font-size: 30px;
    margin: 15px;
}

.divisor-cards {
    border: #0b45e6 1px solid;
    width: 50%;
    margin-top: 40px;
    margin-bottom: 40px;
    box-shadow: 10px -5px 20px 1px;
}

#input-search {
    background-color: #09111c;
    margin: 15px;
    width: 500px;
    height: 50px;
    border-radius: 150px;
    border: solid #7D818A;
    color: white;
    font-size: 13px;
    padding-left: 20px;
    outline: none;
}

/*section*/
.card-structure {
    width: 896px;
    background-color: #09111c;
    border: solid #7D818A;
    border-radius: 25px;
    padding: 25px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.card-structure div {
    width: 100%;
    display: flex;
}

.bg-container h2 {
    color: #B1060F;
    font-family: sans-serif;
    font-size: 30px;
    margin-top: 17px;
}

.card-structure div img {
    height: 40px;
    width: 40px;
    padding: 12px;
}

/* carousel */
.carousel {
    display: flex;
    overflow: hidden;
    width: 100%;
}

.group {
    display: flex;
    flex-shrink: 0;
    align-items: center;
    gap: 1em;
    animation: spin 10s infinite linear;
    padding-right: 1em;
}

.content-carousel {
    height: 145px;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    color: white;
}

@keyframes spin {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(-100%);
    }
}

/* IMAGENES NETFLIX CARRUSEL */
#dark {
    background-image: url(./Images/dark.jpeg);
    background-size: cover;
}

#merlina {
    background-image: url(./Images/merlina.jpeg);
    background-size: cover;
}

#twd {
    background-image: url(./Images/twd.jpeg);
    background-size: cover;
}

#anne {
    background-image: url(./Images/anne.jpeg);
    background-size: cover;
}

#you {
    background-image: url(./Images/you.jpeg);
    background-size: cover;
}

#lcdp {
    background-image: url(./Images/lcdp.jpeg);
    background-size: cover;
}

#st {
    background-image: url(./Images/st.jpeg);
    background-size: cover;
}

/* IMAGENES DISNEY CARRUSEL */
#cars {
    background-image: url(./Images/cars.jpeg);
    background-size: cover;
}

#frozen {
    background-image: url(./Images/frozen.jpeg);
    background-size: cover;
}

#espn {
    background-image: url(./Images/espn.jpeg);
    background-size: cover;
}

#zootopia {
    background-image: url(./Images/zootopia.jpeg);
    background-size: cover;
}

#ratatouille {
    background-image: url(./Images/ratatouille.jpeg);
    background-size: cover;
}

#lbylb {
    background-image: url(./Images/lbylb.jpeg);
    background-size: cover;
}

#peterpan {
    background-image: url(./Images/peterpan.jpeg);
    background-size: cover;
}

/* IMAGENES PRIME VIDEO CARRUSEL */
#megan {
    background-image: url(./Images/megan.jpeg);
    background-size: cover;
}

#elconjuro2 {
    background-image: url(./Images/elconjuro2.jpeg);
    background-size: cover;
}

#theboys {
    background-image: url(./Images/theboys.jpeg);
    background-size: cover;
}

#forrest {
    background-image: url(./Images/forrest.jpeg);
    background-size: cover;
}

#fnaf {
    background-image: url(./Images/fnaf.jpeg);
    background-size: cover;
}

#sonic {
    background-image: url(./Images/sonic.jpeg);
    background-size: cover;
}

#upgraded {
    background-image: url(./Images/upgraded.jpeg);
    background-size: cover;
}

/* IMAGENES HBO MAX CARRUSEL */

#tlou {
    background-image: url(./Images/tlou.jpeg);
    background-size: cover;
}

#witches {
    background-image: url(./Images/witches.jpeg);
    background-size: cover;
}

#friends {
    background-image: url(./Images/friends.jpeg);
    background-size: cover;
}

#derry {
    background-image: url(./Images/derry.jpeg);
    background-size: cover;
}

#hotd {
    background-image: url(./Images/hotd.jpeg);
    background-size: cover;
}

#titans {
    background-image: url(./Images/titans.jpeg);
    background-size: cover;
}

#from {
    background-image: url(./Images/from.jpeg);
    background-size: cover;
}

/* IMAGENES PARAMOUNT CARRUSEL */
#pdls {
    background-image: url(./Images/pdls.jpeg);
    background-size: cover;
}

#halo {
    background-image: url(./Images/halo.jpeg);
    background-size: cover;
}

#pawpatrol {
    background-image: url(./Images/pawpatrol.jpeg);
    background-size: cover;
}

#stealteam {
    background-image: url(./Images/stealteam.jpeg);
    background-size: cover;
}

#landman {
    background-image: url(./Images/landman.jpeg);
    background-size: cover;
}

#primate {
    background-image: url(./Images/primate.jpeg);
    background-size: cover;
}

#spongebob {
    background-image: url(./Images/spongebob.jpeg);
    background-size: cover;
}

/*div que dice ventajas etc*/
.inside-card {
    background-color: black;
    border-radius: 25px;
    margin: 25px;
    /*el auto lo centra al ancho del padre*/
    border: solid #7D818A 3px;
    margin-bottom: 0px;
    display: flex;
    height: auto;
    flex-direction: column;
    margin-top: 1px;
    padding: 10px;
}

.inside-card p {
    font-size: 16px;
    width: 100%;
    margin: 10px auto;
    padding: 15px auto;
    color: #c4c8d2;
    font-family: sans-serif;
}

.inside-card h3 {
    color: #1F3A5A;
    padding-left: 30px;
    font-size: 22px;
    margin-bottom: 2px;
}

.inside-card hr {
    width: 100%;
    background-color: #0e112c;
    border: none;
    height: 1px;
    margin: 0px;
}

/* colores de los h2 de las cards */

#netflix-h2-color {
    color: #B1060F;
}

#disney-h2-color {
    color: #073D50;
}

#prime-h2-color {
    color: #202E5C;
}

#hbo-h2-color {
    color: #5407C4;
}

#paramount-h2-color {
    color: white;
}

#button-cart {
    background-color: #1F3A5A;
    color: white;
    font-size: 14px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    border-radius: 10px;
    border: 3px solid #7D818A;
    height: 40px;
}

#button-cart:hover {
    cursor: pointer;
}

.compras {
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    margin-top: 10px;
}

.compras div select {
    cursor: pointer;
    outline: none;
}

#select-netflix {
    appearance: none;
    background-color: #1F3A5A;
    color: white;
    padding: 8px 35px 8px 15px;
    border: 3px solid #7D818A;
    border-radius: 4px;
    font-size: 14px;
    background-image: url("data:image/svg+xml;charset=UTF-8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='%2309111C'%3E%3Cpath d='M7 10l5 5 5-5z'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position: right 8px center;
    border-radius: 10px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    flex-grow: 1;
    box-sizing: border-box;
    width: 750px;
}


#select-disney {
    appearance: none;
    background-color: #1F3A5A;
    color: white;
    padding: 8px 35px 8px 15px;
    border: 3px solid #7D818A;
    border-radius: 4px;
    font-size: 14px;
    background-image: url("data:image/svg+xml;charset=UTF-8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='%2309111C'%3E%3Cpath d='M7 10l5 5 5-5z'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position: right 8px center;
    border-radius: 10px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    flex-grow: 1;
    box-sizing: border-box;
    width: 750px;
}

#select-prime {
    appearance: none;
    background-color: #1F3A5A;
    color: white;
    padding: 8px 35px 8px 15px;
    border: 3px solid #7D818A;
    border-radius: 4px;
    font-size: 14px;
    background-image: url("data:image/svg+xml;charset=UTF-8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='%2309111C'%3E%3Cpath d='M7 10l5 5 5-5z'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position: right 8px center;
    border-radius: 10px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    flex-grow: 1;
    box-sizing: border-box;
    width: 750px;
}



#select-paramount {
    appearance: none;
    background-color: #1F3A5A;
    color: white;
    padding: 8px 35px 8px 15px;
    border: 3px solid #7D818A;
    border-radius: 4px;
    font-size: 14px;
    background-image: url("data:image/svg+xml;charset=UTF-8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='%2309111C'%3E%3Cpath d='M7 10l5 5 5-5z'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position: right 8px center;
    border-radius: 10px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    flex-grow: 1;
    box-sizing: border-box;
    width: 750px;
}

#select-hbo {
    appearance: none;
    background-color: #1F3A5A;
    color: white;
    padding: 8px 35px 8px 15px;
    border: 3px solid #7D818A;
    border-radius: 4px;
    font-size: 14px;
    background-image: url("data:image/svg+xml;charset=UTF-8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='%2309111C'%3E%3Cpath d='M7 10l5 5 5-5z'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position: right 8px center;
    border-radius: 10px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    flex-grow: 1;
    box-sizing: border-box;
    width: 750px;
}

aside{
    display: flex;
    justify-content: center;
}

aside div{
    
    color: white;
    border: dashed 3px #681e1e;
    border-radius: 5%;
    background: transparent;
    backdrop-filter: blur(1.4px);
    width: 40%;
    padding: 2em;
}

aside div h3{
    color: #EF4444;
    font-size: 2em;
}

aside div ul li{
    font-size: 1.1em;
    margin-top:3px ;
    margin-bottom: 3px;
}

footer{
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
}

.contact-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    background: transparent;
    backdrop-filter: blur(3px);
    width: 20%;
    border: dashed rgb(13, 31, 66);
    border-radius: 15px;
    padding: 20px;
}

.contact-container h2{
    color: white;
}

footer p{
    color: #c4c3c14e;
    font-size: large;
}

.contact-icons{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-around;
    
}

.contact-icons i{
    font-size: 40px;
}